html {
  min-height: 100%;
}

.cover-container {
  max-width: 42em;
}

.bgImage {
  background: url("/images/cover.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
}

.bgDayImg {
  background: url("/images/day.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
}

.bgNightImg {
  background: url("/images/evening.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
}

.purpleColor {
  background-color: #578ae2;
}

.topCushion {
  margin-top: 200px;
}

.chooseGameBtn {
  margin: 20px;
}

/* CARD */
.cardContainer {
  display: flex;
  justify-content: space-around;
  perspective: 150rem;
}
.startPile {
  width: 380px !important;
}

.discard {
  min-height: 38rem; /* Adjust as needed */
  min-width: 24rem; /* Adjust as needed */
}

.questionCard {
  cursor: pointer;
  position: relative;
  transition: transform 1.5s ease;
  transform-style: preserve-3d;
}

.side {
  font-size: 2rem;
  height: 38rem;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  backface-visibility: hidden;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 1.5rem 4rem rgba(10, 11, 12, 0.3);
}

.front {
  background: url("/images/dayCardImg.jpg");
  background-size: cover;
  background-position: bottom;
}

.frontNIGHT {
  background: url("/images/nightCard.jpg");
  background-size: cover;
  background-position: bottom;
}

.back {
  background-color: white;
  transform: rotateY(-180deg);
}

.questionCard.flipCard {
  transform: rotateY(180deg);
}

.space {
  margin-top: 30px;
}
